*{
    margin: 0;
    padding: 0;
    background-color: #d5d5d5;
}

.ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:#d5d5d5;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.li{
    float: left;
}

li a{
    display: block;
    color: #96858F;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover{
    background-color:#9099A2;
}

.h3{
    text-align: center;
    font-family: 'Lora', serif;
    color: #96858F;
    margin-left:5em;
    margin-right: 5em;
    padding: 10px;
    margin-top: 1em;
    font-size: 35px; 
    padding-bottom:1em;
}

.ul1{
    margin-left:8em;
    margin-right: 8em;
    font-size: 20px;
    margin-bottom: 2em;
    font-family: 'Lora', serif;
    text-align: justify;
}

.a{
    margin-left:10em;
    line-height: 2em;
}

.footer{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
}

.footer p{
    background:#6d7993;
    margin:0;
    padding: 20px;
}